.GridContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--grid-gap);
  margin-bottom: var(--grid-gap);
}

.Item {
  text-align: center;
  height: 12vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-blue-dark);
  overflow: hidden;
  padding: 0.5rem;
  text-transform: uppercase;
  color: var(--color-yellow);
  font-size: 5vh;
  font-weight: bold;
  text-shadow: 2px 3px black;
  cursor: pointer;
}

.HeaderItem {
  composes: Item;
  font-size: 100%;
  font-weight: bold;
  color: white;
  margin-bottom: var(--grid-gap);
}
