.Header {
  height: var(--nav-height);
  color: black;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header__Brand {
  color: var(--color-yellow);
}

.Header__Controls {
}
