.Wrapper {
  background-color: var(--color-blue-dark);
  /* position: fixed; */
  width: 100%;
  /* height: 15vh; */
  height: var(--footer-height);
  /* bottom: 0; */
}

.dnone {
  visibility: hidden;
}

.TeamFooter {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  max-width: var(--max-width);
  margin: 0 auto;
  /* background-color: pink; */
}

.FooterItem {
  /* background-color: red; */
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ItemNameWrapper {
  display: flex;
}

.ItemScore {
  font-weight: bold;
  font-size: 4.5vh;
}

.ScoreButton {
  display: block;
  background-color: red;
  border: none;
}

.ItemName {
  font-family: 'Loved by the King';
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.TeamFooter__Team--active {
  /* background-color: pink; */
}
